<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bathroom Finder</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/assets/app.css") %>">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD43PRuNmev4M31PRhohH8HQE4kEylf9K8&libraries=places"></script>
  </head>

  <body>
    <%= render @view_module, @view_template, assigns %>
    <script src="<%= static_path(@conn, "/assets/app.js") %>"></script>
  </body>
</html>
